@charset "UTH-8";

@font-face {
    font-family: "bebas";
    src: url(../fontes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "android";
    src: url(../fontes/idroid.otf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(179, 146, 146);
    max-width: 100%;
}
body p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
}
header {
    background-color: black;
    color: bisque;
    text-align: center;
    font-family: sans-serif;
    padding-top: 40px;
    min-height: 150px;
}
header h1 {
    color: aliceblue;
    text-shadow: 0px 10px 10px rgba(255, 255, 255, 0.411);
}
header h1:hover {
    text-shadow: 0px -5px 30px white;
}
header p {
    padding-top: 30px;
    color: white;
}
nav{
    text-align: left;
    padding-top: 38px;
    padding-left: 40px;
}
nav a {
    text-decoration: none;
    margin-right: 10px;
    color: aliceblue;
    background-color: rgba(51, 14, 14, 0.747);
    padding: 1px 15px 0px 10px;
    border-radius: 7px;
    font-size: 1.2em;
    transition-duration: 1.1s;
}
nav a:hover {
    background-color: black;
}
img {
    width: 100%;
}
main { 
    background-color: aliceblue;
    max-width: 800px;
    padding: 20px 20px 5px 20px;
    margin: auto;
    box-shadow: 0px 0px 20px black;
    margin-bottom: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
main h2 {
    font-family: var(--android);
    font-size: 2.2em;
    text-align: center;
    padding: 30px 0px 10px 0px;
}
main h3 {
    color: white;
    font-size: 2.0em;
    padding: 3px;
    background-image: linear-gradient(to right, black, rgb(247, 247, 247));
    font-family: var(--android);
}
main h4 {
    background-color: black;
    color: white;
    font-size: 1.7em;
    padding: 7px;
    margin: 0px -8px 0px -8px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
main p {
    line-height: 29px;
    text-align: justify;
    font-size: 1.2em;
    padding: 30px 0px 30px 0px;
    text-indent: 40px;
}
.div01 {
    display: flex;
    grid-gap: 0px;
}
.div01 p {
    text-align: justify;
    text-indent: 0px;
    padding: 15px 10px 15px 10px;

}
div.video {
    background-color: black;
    position: relative;
    padding-bottom: 57%;
    margin: 0px -20px 30px -20px;
}
div.video > iframe {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
}
aside {
    background-color: bisque;
    margin: 15px;
    text-align: justify;
    padding: 0px 8px 0px 8px;
}
aside p {
    font-size: 1.1em;
    padding: 15px;
    padding-top: 30px;
}
ul {
    list-style-position: inside;
    columns: 2;
}
ul li {
    list-style-type: none;
    font-size: large;
    padding-left: 40px;
    text-decoration: none;
}
footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}

